p {
  text-align: center;
}

header.mdl-layout__header.mdl-layout__header--transparent.navLink {
  display: none;
}

div .navWrap {
  display: none;
}

div .smaller {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.mobileNav {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

#navButton {
  background-color: lightcoral;
}

.smaller .button {
  background-color: lightcoral;
  color: white;
}

.head{
  position: fixed;
  width: 100%;
}

.navWrap{
  padding-top:5px;
  padding-bottom: 8px; 
  justify-content: center;
  display: flex;
  background-color: linen;
}

.navWrap button{
    background-color: lightcoral;
    color:white;
    margin-right: 10px; 
}

.card{
  background-color: linen;
}

.headliner{
  margin-top: 50px;
  padding-left: 36px;
  float: left;
  color: rgb(255,255,255);
}

div .mdl-layout__header-row {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.09);;
}

/*make z-index -1 when the header is above the card, but it needs to be 0 in order to be clicked*/
div .mdl-card {
  z-index: 0;
}

@media (min-width: 705px) {
  
  header.mdl-layout__header.mdl-layout__header--transparent.navLink {
    display: flex;
  }

  div .smaller {
    display: none;
  }

  div .mobileNav {
    display: none;
  }

  div .navWrap {
    display: flex;
  }
 
}
